---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import AgenticMode from "../components/AgenticMode.astro";
import Roadmap from "../components/Roadmap.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
	<main class="relative bg-gray-950">
		<Hero />
		<Features />
		<HowItWorks />
		<AgenticMode />
		<Roadmap />
		<CTA />
	</main>
	<Footer />
</BaseLayout>
